{{ $params := .Site.Params }}
{{ $local_basic_families := default "" (delimit (apply (default slice $params.local_font.article) "printf" "'%s'" ".") ",") }}
{{ $basic_families := default $local_basic_families (delimit (apply (default slice $params.font.article) "printf" "'%s'" ".") ",") }}

$basic-families: {{ $basic_families }};
$local-basic-families: {{ $local_basic_families }};

{{- $custom_basic_font := .Site.Params.custom_font.article -}}
{{ $_custom_basic_families := slice }}
{{ range $custom_basic_font }}
  {{ $_custom_basic_families = $_custom_basic_families | append (default "" (printf "'%s'" .name)) }}
{{ end }}
{{ $custom_basic_families := delimit $_custom_basic_families "," }}


$custom-basic-families: {{ default $basic_families $custom_basic_families }};

$font-basic: $custom-basic-families, $basic-families, $local-basic-families;

[data-theme="dark"] {
  #loader {
    .loading-bg {
      background-color: rgba(37, 37, 37, 0.9);
    }

    .spinner-box .loading-word {
      color: var(--red-1, #ff5252);
    }
  }
}

#loader {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1000;
  pointer-events: none;
  .loading-bg {
    position: absolute;
    width: 50%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.9);
  }

  .loading-left-bg {
    left: 0;
    transform: translateX(-100%);
    animation: full-sequence-left 2s forwards ease-in-out;
  }

  .loading-right-bg {
    right: 0;
    transform: translateX(100%);
    animation: full-sequence-right 2s forwards ease-in-out;
  }

  .spinner-box {
    position: fixed;
    z-index: 1001;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
    opacity: 1;
    transition: 0.5s;

    .loading-taichi {
      opacity: 0.8;
    }

    .rotate {
      animation:
        rotate-all 2s linear infinite, 
        fade-out-spinner 1.8s forwards ease-in-out;
    }

    .loading-word {
      position: absolute;
      color: var(--red-1, #ff5252);
      top: calc(50% + 110px);
      left: 50%;
      transform: translate(-50%, -50%);
      font:
        700 1.2rem $font-basic;
      animation: fade-out-spinner 1.8s forwards;
    }
  }
}

@keyframes full-sequence-left {
  0%   { transform: translateX(-100%); } // Začetek: zunaj
  25%  { transform: translateX(0); }     // 0.5s: zaprto na sredini
  75%  { transform: translateX(0); }     // ostane zaprto do 1.5s
  100% { transform: translateX(-100%); } // Konča: zunaj
}

@keyframes full-sequence-right {
  0%   { transform: translateX(100%); }
  25%  { transform: translateX(0); }
  75%  { transform: translateX(0); }
  100% { transform: translateX(100%); }
}

@keyframes rotate-all {
  0%   { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

@keyframes fade-out-spinner {
  0%, 75% { opacity: 1; visibility: visible; }
  100%    { opacity: 0; visibility: hidden; }
}

[data-theme="dark"] #loader .loading-bg {
  background-color: rgba(37, 37, 37, 0.9);
}